.body-home-page{
    width: 100%;
    outline: none;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.925);
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-home-page{
    display: flex;
    width: auto;
    position: fixed;
    width: 97.3%;
    padding: 1%;
    background-color: rgba(61, 59, 59, 0.267);
    margin-top: -10px;
}
.container-button-logo{
    color: #ffff;
    width: 50%;
    font-size: 210%;
    align-self: center;
    font-weight: bold;
}
.container-singup-singnin{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
    width: 50%;
    font-weight: bold;
    font-size: 140%;
    justify-content: right;
}
.singin:hover{
    background-color: #f27a3541;
}
.singup{
    background-color: #F27B35;
}
.singup,.singin{
    color: aliceblue;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
}

.container-image-home-page{
  height: 76%;
  width: 100%;
  margin: auto;
  margin-top: -10px;
  background-image: url("img-home.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#serialImage2{
  background-image: url("image4.png");
  width: auto;
}
.container1{
    width: 90%;
    height: 20%;
    font-size: 400%;
    padding: 5%;
    color: #DFF6FF;
}



#serialBodyLogin{
  display: flex;
  flex-direction: row;
  height: 950px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-image{
    margin: auto;
    width: 67%;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("img.png");
    background-size: 100% 100%;
    float: right;
}    

.container-login-form{
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
    justify-content: center;
    float: right;
}





/*---------------------------------------------------------*/

.form_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    float: right;
    align-self: center;
    justify-self: center;
    gap: 25px;
    padding: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #regSerialForm{
    width: 100%;
  }
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    text-align: center;
    font-size: 280%;
    font-weight: 700;
    color: #DFF6FF;
  }
  
  .subtitle {
    font-size: 100%;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
  }
  
  .input_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 15px;
  }
  
  .input_label {
    font-size: 120%;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field ,  .input_field2{
    width: auto;
    font-size: 100%;
    height: 50px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus ,  .input_field2:focus {
    border: 1px solid transparent;
  }

  .input_field2{
    padding: 0 0 0 10px;
  }
  
  .sign-in_btn {
    width: 50%;
    height: 40px;
    align-self: center;
    border: none;
    background: #F27B35;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    font-size: larger;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 50%;
    height: auto;
    padding: 2%;
    display: flex;
    align-self: center;
    justify-content: center;
    background: #ffff;
    border-radius: 7px;
    outline: none;
    color: #242424ab;
    cursor: pointer;
    border: none;
  }


  .sign-in_ggl span , .sign-in_btn span{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e897;
  }
  
  .note {
    font-size: 100%;
    text-align: center;
    color: #dff6ff59;
    text-decoration: underline;
    cursor: pointer;
  }
  .note:hover{
    color: #F27B35;
  }

  #serialNote2{
    font-size: 100%;
    text-align: center;
    color: #dff6ff59;
    text-decoration: solid;
    padding: 0;
    margin-bottom: -5px;
  }

  .container-main-data{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
  }

  .container-fond-data{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
  }













  /* RESPONSIVE */
  @media screen and (max-width: 1400px) {
    #serialBodyLogin {
      flex-direction: column;
    }
    .container-login-form{
      width: 100%;
    }
    .container-image{
      display: none;
    }
  }

  @media screen and (max-height: 900px) {
    #serialBodyLogin{
      height: 720px;
      overflow: hidden;
    }
    .container-login-form{
      height: 90%;
      font-size: 85%;
      }
    .container-image{
      height: 100%;
    }


  }

/*
  width: 67%;
    margin-top: -10px;
    margin-left: -10px;
    height: 950px;
    background-repeat: no-repeat;
    background-image: url("img.png");
    background-size: 100% 100%;
    float: right;

    */