.body-home-page{
    width: 100%;
    background-image: url("image3.jpg");
    background-size: auto;
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-home-page{
    display: flex;
    position: fixed;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 20px;
}
.container-button-logo{
    color: #ffff;
    width: 50%;
    font-size: 210%;
    align-self: center;
    font-weight: bold;
}
.container-singup-singnin{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
    width: 50%;
    font-weight: bold;
    font-size: 140%;
    justify-content: right;
}

.singin:hover{
    background-color: #f27a3541;

}
.singup{
    background-color: #F27B35;
}
.singup,.singin{
    color: aliceblue;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    border-radius: 15px;
}

.container1{
    width: 50%;
    font-size: 450%;
    padding: 5%;
    color: #DFF6FF;
}